@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

/* Header & Page Styling */
html, body {
  margin: 0;
}

#background {
  background-image: url('../img/3d-space-background-min.jpg');
  background-color: #333;
  height: 100dvh;
  width: 100dvw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contents {
  position: absolute;
  z-index: 1;
  padding: 0 20px;
  height: 100dvh;
  width: 100dvw;
  overflow-y: scroll;
}

header {
  position: relative;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  opacity: 0.9;
  z-index: 0; 
}

header h1 {
  position: absolute;
  font-family: 'Mochiy Pop One', sans-serif;
  font-size: 4rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(250, 250, 210, 0.5);
  text-shadow: 0px 0px 10px #B2E737, 0px 0px 10px #B2E737;
  top: 155px;
  width: 100%;
  text-align: center;
  z-index: -1;
}


header h3 {
  position: absolute;
  font-family: 'Source Code Pro', monospace;
  color: #C7EE6D;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(250, 250, 210, 0.75);
  text-shadow: 0px 0px 3px #B2E737, 0px 0px 3px #B2E737;
  top: 135px;
  width: 98%;
  text-align: center;
  z-index: 1;
}

header .site-info {
  margin: 0 auto 1rem;
  padding: 0.8rem;
  max-width: 620px;
  background-color: rgb(51, 51, 51, 0.6);
  border-radius: 5px;
  font-family: 'Fira Code', monospace;
  font-size: 0.8rem;
  text-align: center;
  color: #C7EE6D;
}

.search-form {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
}

#results {
  background-color: transparent !important;
}

/* Trading Card Styling & Animation */
.trading-card {
  margin: 0.7rem;
  width: 300px;
}

/* Front Card Styling */
.flip-card {
  background-color: transparent; 
  width: 300px;
  height: 450px;
  perspective: 1000px;
  border-radius: 25px;
  transition: transform .1s;    /* Timing for hover effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(250, 250, 210, 0.7);
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.flip-card-inner:hover {
  transform: scale(1.03);
  border-radius: 25px;
}

.flip-card-inner.is-flipped {
  transform: rotateY(180deg);  
}

.flip-card-front {
  background-color: #C7EE6D;
  border-radius: 25px;
}

.flip-card-front, .flip-card-rear {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front-header:first-child {
  margin: 0.9rem 0 0;
}

.char-name-header {
  margin: 0;
  padding-bottom: 10px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 0.9rem;
  color: #0093A3;
  text-shadow: 0 0 3px lightgoldenrodyellow;
}

.flip-card-front img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 310px;
  object-fit: cover;
  border: rgb(250, 250, 210) 1px solid;
}

.flip-card-front-footer {
  width: 90%;
  height: 53px;
  margin-left: auto;
  margin-right: auto;
  background: lightgoldenrodyellow;
}

.flip-card-front-footer span {
  font-family: 'Syne Mono', monospace;
  font-size: 0.8rem;
  color: #002626;
}

.flip-card-front-header,
.flip-card-rear-footer,
.flip-card-rear-stats span:first-child,
.flip-card-front-bottom span {
  font-family: 'Fira Code', monospace;
  font-size: 0.7rem;
  color: #002626;
}

/* Rear Card Styling */
.flip-card-rear {
  background-color: #C7EE6D;
  border-radius: 25px;
  color: #002626;
  transform: rotateY(180deg);
}

.flip-card-rear-bg {
  position: absolute;
  width: 90%;
  height: 93%;
  margin: 15px;
  background: lightgoldenrodyellow;
  border-radius: 15px;
}

.flip-card-rear-bg img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  opacity: 0.2;
}

.flip-card-rear-stats {
  position: absolute;
  width: inherit;
  padding-top: 15px;
  top: 0;
  left: 15px;
}

.char-name-header-rear {
  margin: 0;
  font-family: 'Fjalla One', sans-serif;
  font-size: 0.8rem;
  color: #0093A3;
  text-shadow: 0 0 10px #B2E737;
}

.stats-header {
  margin: 0;
  padding: 0 0.5rem;
  font-family: 'Fira Code', monospace;
  font-size: 0.6rem;
}

.stats-data {
  font-family: 'Fjalla One', sans-serif;
  font-size: 0.8rem;
  color: #002626;
  text-shadow: 0 0 10px #B2E737;
}

.flip-card-rear-footer p {
  margin-top: 20px;
}


/* Page Navigation Buttons */
#page-nav {
  margin: 1.4rem 0.7rem;
}

/* Footer Styling */
footer {
  margin: 4rem auto 1rem;
  padding: 0.8rem;
  max-width: 620px;
  background-color: rgb(51, 51, 51, 0.6);
  border-radius: 5px;
  color: #C7EE6D;
  font-family: 'Fira Code', monospace;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #FF00FF;
}

footer a:hover {
  color: #FF00FF;
  opacity: 0.9;
}


/* Responsive screen sizing */
@media screen and (max-width: 1000px) {
  header img {
    width: 250px;
  }

  header h1 {
    font-size: 3rem;
    top: 123px;
  }
  
  header h3 {
    font-size: 1.2rem;
    top: 105px;
  }
}

@media screen and (max-width: 780px) {
  header img {
    width: 200px;
  }

  header h1 {
    font-size: 1.6rem;
    top: 110px;
  }

  header h3 {
    font-size: 1rem;
    top: 85px;
  }
}